<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <title>Joke Of The Day</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      body {
        overflow: auto; /* добавить полосу прокрутки */
      }
      [v-cloak] {
        display: none;
      }
    </style>
</head>
    <body style="background: url(public/fon.png) 100% 100% no-repeat; background-size: cover;">

        <div id="app" v-cloak="">
            <div class="cover-container d-flex h-100 p-3 mx-auto flex-column rounded border" style="background-color: lavender; display: inline-block; width: 500px; height: 400px; margin-top: 15%">
                <main role="main" class="inner cover text-center">
                    <h1 class="cover-heading">Your joke of the day</h1>
                    <div v-if="loading">
                        <loader />
                    </div>
                    <div v-else-if="joke.joke">
                            <p class="lead">{{joke.joke}}</p>
                    </div>
                    <div v-else>
                        <p class="lead">No Joke!!! Some problem!!!</p>
                    </div>
                    <div class="form-inline text-center">
                        <p class="lead text-left" style="margin-right: 100px">
                            <button class="btn btn-primary"><i class="fa fa-thumbs-up" @click.prevent="setLike(joke.id)">Like {{joke.like}}</i></button>
                        </p>
                        <p class="lead text-center">
                            <button class="btn btn-lg btn-secondary" type="submit" @click.prevent="getJoke">More Joke</button>
                        </p>
                    </div>
                </main>
            </div>
            <script type="module" src="public/js/frontend.js"></script>
        </div>

    </body>
</html>